/* ---------------- 기본 세팅 ---------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background-color: #ffffff;
  color: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chart-card {
  background-color: #ffffff;
  margin-top: 16px;
  padding: 12px 14px 16px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.dummy-chart {
  margin-top: 10px;
  height: 160px;
  border-radius: 999px;
  border: 8px solid #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #999;
}